language: node_js
node_js:
  - "12"
  - "14"
  - "16"

install:
  - npm ci

# In your code, add this (after installing with `npm install --save-dev audit-ci`):
# scripts:
#   # This script should be the first that runs to reduce the risk of
#   # executing a script from a compromised NPM package.
#   - if [ "${TRAVIS_PULL_REQUEST}" != "false" ]; then audit-ci -m; fi

# Docs: https://docs.travis-ci.com/user/languages/javascript-with-nodejs/#caching-with-npm
# Changelog: https://changelog.travis-ci.com/for-node-js-builds-cache-npm-shortcut-is-available-77295
cache: npm

script:
  # Have audit-ci run audit-ci to audit itself :)
  - if [ "${TRAVIS_PULL_REQUEST}" != "false" ]; then node lib/audit-ci.js --config ./audit-ci.jsonc; fi
  - npm run lint
  - npm run test
